@model HeroBanner

<div class="herobanner">
    <div class="row">
        <div class="col-md-8">
            <img class="herobanner__image img-fluid" asp-for="Image" />
        </div>
        <div class="col-md-4">
            <div class="herobanner__overlay">
                <h1 class="herobanner__title" asp-for="Title"></h1>
                <h2 class="herobanner__subtitle" asp-for="Subtitle"></h2>
                <div class="herobanner__rte" asp-for="Text"></div>
                <p class="herobanner__linkcontainer">
                    <a class="herobanner__link" asp-for="TargetLink">Zum Ziel</a>
                </p>
            </div>
        </div>
    </div>
</div>
