@model HeroBanner

<div class="herobanner">
    <h1 class="herobanner__title" asp-for="Title"></h1>
    <h2 class="herobanner__subtitle" asp-for="Subtitle"></h2>
    <img class=herobanner__image asp-for="Image" />
</div>
