<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"> 
  <sitecore> 
    <javaScriptServices> 
      <allowedMediaParams> 
        <projectName__1>mw=255</projectName__1> 
        <projectName__1>mw=720</projectName__1> 
      </allowedMediaParams> 
    </javaScriptServices> 
  </sitecore> 
</configuration> 