@model Component

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <sc-placeholder name="grid-9"></sc-placeholder>
        </div>
         <div class="col-md-3">
            <sc-placeholder name="grid-3"></sc-placeholder>
        </div>
    </div>
</div>
