#header {
    background-color: lightgray;
    color: black;
    margin-bottom: 1rem;
}

#main{

}

.container{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.herobanner{
    border:solid black;
    background-color:lightblue;
}

.herobanner__title {
    text-align: center;
}

.herobanner__subtitle {
    text-align: center;
}

.herobanner__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#footer {
    background-color: darkgray;
    color: white;
    margin-top: 1rem;
}

.legalInformation {
    text-align: right;
}

.legalInformation__text{
    font-weight:bold;
}

.legalInformation div p {
    display: inline-block;
    margin: 0.5rem;
}