h1, h2 {
  text-align: center;
  color: #00008b; }

#header {
  background-color: lightgray;
  margin-bottom: 1rem; }

#header img {
  height: 50px; }

#main {
  background-color: #E5E5E5; }

#footer {
  background-color: darkgray;
  color: white;
  margin-top: 1rem; }

.navigation {
  overflow: hidden; }

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; }

.navigation ul li {
  float: left;
  border-right: 1px solid #bbb;
  font-weight: bold; }

.navigation ul li:last-child {
  border-right: none; }

.navigation ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; }

.navigation ul li a.active {
  background-color: #00008b; }

/* Change the link color to #111 (black) on hover */
.navigation ul li a:hover {
  background-color: #111; }

.navigation__subnav {
  float: left;
  overflow: hidden; }

.navigation__subnav__subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0; }

/* Style the subnav content - positioned absolute */
.navigation__subnav__content {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: lightgray; }

/* Style the subnav links */
.navigation__subnav__content a {
  float: left;
  color: white;
  text-decoration: none; }

/* Add a grey background color on hover */
.navigation__subnav__content a:hover {
  background-color: #111; }

#footer {
  background-color: darkgray;
  color: white;
  margin-top: 1rem; }

.inactiveLink {
  pointer-events: none;
  cursor: default; }

/* Style the list */
.breadcrumb ul {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee; }

/* Display list items side by side */
.breadcrumb ul li {
  display: inline;
  font-size: 18px; }

/* Add a slash symbol (/) before/behind each list item */
.breadcrumb ul li + li:before {
  padding: 8px;
  color: black;
  content: "<"; }

/* Add a color to all links inside the list */
.breadcrumb ul li a {
  color: #0275d8;
  text-decoration: none; }

/* Add a color on mouse-over */
.breadcrumb ul li a:hover {
  color: #01447e;
  text-decoration: underline; }

.herobanner {
  background-color: white;
  margin-bottom: 0.5rem; }

.herobanner__overlay {
  padding: 10px; }

.herobanner__subtitle {
  margin-top: 1rem; }

.herobanner__rte {
  margin-top: 2rem; }

.herobanner__image {
  text-align: center; }

.herobanner__linkcontainer {
  display: flex;
  justify-content: center;
  margin-bottom: 0.25rem; }

.herobanner__link {
  color: #0275d8;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  background-color: #d3d3d3;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  font-weight: bold;
  letter-spacing: 0.15rem;
  border-radius: 4px;
  box-shadow: 5px 5px 8px #e8e8e8; }

.herobanner__link:active {
  text-decoration: none;
  background-color: #bbbbbb;
  color: #00008b;
  box-shadow: 5px 5px 8px #d7d7d7; }

.herobanner__link:hover {
  text-decoration: none;
  background-color: #bbbbbb;
  color: #0a0ae4;
  box-shadow: 5px 5px 8px #d7d7d7; }

@media screen and (max-width: 1200px) {
  .herobanner__title {
    font-size: 2rem; }
  .herobanner__subtitle {
    font-size: 1.5rem; }
  .herobanner__linkcontainer {
    margin-top: 0.75rem; } }

@media screen and (max-width: 992px) {
  .herobanner__title {
    font-size: 1.25rem; }
  .herobanner__subtitle {
    font-size: 1rem; }
  .herobanner__overlay {
    padding: 10px; }
  .herobanner__rte {
    font-size: 0.785rem; }
  .herobanner__link {
    font-size: 0.785rem; } }

@media screen and (max-width: 768px) {
  .herobanner__title {
    font-size: 2rem; }
  .herobanner__subtitle {
    font-size: 1.5rem; }
  .herobanner__linkcontainer {
    margin-top: 1rem; }
  .herobanner__rte {
    font-size: 1rem; }
  .herobanner__link {
    font-size: 1rem; } }

.image figcaption {
  font-weight: bold;
  color: #00008b; }

.legalInformation {
  text-align: right; }

.legalInformation__text {
  font-weight: bold; }

.legalInformation div p {
  display: inline-block;
  margin: 0.5rem; }

.text__rte span {
  background-color: inherit !important; }

/*# sourceMappingURL=maps/main.css.map */
