@model Navigation

<div class="navigation">
    <ul>
        @foreach (var navigationItem in Model.NavigationItems ?? new List<NavigationItem>())
        {
            <li>
                <a class="@(navigationItem.IsActive ? "active": string.Empty)" isActive="@navigationItem.IsActive" href="@navigationItem.Url">@navigationItem.Title</a>
            </li>
        }
    </ul>
</div>