<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <getRenderingDatasource>
        <processor type="Blueprint.Foundation.Datasources.Infrastructure.Pipelines.EnsureAndResolveDataFolder, Blueprint.Foundation.Datasources"
                   patch:after="processor[@type='Sitecore.Pipelines.GetRenderingDatasource.GetDatasourceLocation, Sitecore.Kernel']"/>
        <processor type="Blueprint.Foundation.Datasources.Infrastructure.Pipelines.ResolveSiteTokenRenderingSource, Blueprint.Foundation.Datasources"
                     patch:before="processor[@type='Sitecore.Pipelines.GetRenderingDatasource.GetDatasourceLocation, Sitecore.Kernel']"/>
      </getRenderingDatasource>
      <getLookupSourceItems>
        <processor patch:before="*[@type='Sitecore.Pipelines.GetLookupSourceItems.ProcessQuerySource, Sitecore.Kernel']" 
                   type="Blueprint.Foundation.Datasources.Infrastructure.Pipelines.ResolveSiteTokenDatasource, Blueprint.Foundation.Datasources" />
      </getLookupSourceItems>
    </pipelines>
  </sitecore>
</configuration>