$breadcrumbBackgroundColor: #eee;
$headerBackgroundColor: lightgray;
$mainBackgroundColor: #E5E5E5;
$footerBackgroundColor: darkgray;
$heroBannerBackgroundColor: white;

$headlineColor: #00008b;


$linkColor: #0275d8;
$linkHoverColor: #01447e;
$linkActiveColor: #00008b;

$linkBackgroundColor: #d3d3d3;
$linkBackgroundActiveColor: #bbbbbb;
$linkBackgroundHoverColor: #111;

$textColorOnBlackDarkBackground: white;
$textColorOnBrightBackground: black;