@model Route

@{
    ViewData["Title"] = "PAGE-TITLE";
}

<div id="header"></div>
<div id="main">
    <p>Hier könnte ihr content stehen</p>
    <sc-placeholder name="default_content"></sc-placeholder>
</div>

<div id="footer"><hr class="divider">© @System.DateTime.Now.Year BLUEPRINT</div>