@model Route

@{
    ViewData["Title"] = "PAGE-TITLE";
}

<div id="header">
    <sc-placeholder name="blueprint-header"></sc-placeholder>
</div> 
<div id="main">
    <sc-placeholder name="blueprint-main"></sc-placeholder>
</div>
<div id="footer">
    <sc-placeholder name="blueprint-footer"></sc-placeholder>
</div>