@model Route

@{
    ViewData["Title"] = "PAGE-TITLE";
}

<div id="header"></div>
<div id="main">Hier könnte ihr content stehen</div>
<div id="footer"><hr class="divider">© @System.DateTime.Now.Year BLUEPRINT</div>